<template>
  <div class="card">
    <img :src="album.images[0].url" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">{{album.name}}</h5>
    </div>
  </div>
</template>


<script lang="ts">
import { AlbumItemView } from "@/model/Album";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class AlbumCard extends Vue {
  @Prop({ required: true }) album!: AlbumItemView;
}

// export default Vue.extend({
//   components: { AlbumCard },
// });
</script>