<template>
  <div>
    <div class="row my-3">
      <div class="col">
        <h3 class="display-3">Playlists</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlists"
          :selectedId="selected && selected.id"
          @selected="selectPlaylist"
        />
      </div>
      <div class="col">
        <!-- <playlist-details :playlist="selected" @edit="edit()" /> -->
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
// import {PlaylistDetails,PlaylistList} from '@/components/playlists'
import PlaylistList from "../../components/playlists/PlaylistList.vue";
import PlaylistDetails from "@/components/playlists/PlaylistDetails.vue";
import PlaylistEditor from "@/components/playlists/PlaylistEditor.vue";
import { mapActions, mapGetters } from "vuex";

export default Vue.extend({
  components: { PlaylistList, PlaylistDetails, PlaylistEditor },
  computed: {
    ...mapGetters("playlists", ["playlists", "selected"]),
    ...mapGetters(["loading"]),
  },
  methods: {
    ...mapActions("playlists", ["loadPlaylists"]),
    selectPlaylist(id) {
      this.$router.push("/playlists/" + id);
    },
  },
  created() {
    this.loadPlaylists();
  },
});
</script>