<template>
  <div>
    <div class="row my-3">
      <div class="col">
        <h3 class="display-3">Playlists</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlists"
          :selectedId="selectedId"
          @selected="select($event)"
          @remove="remove($event)"
        />
        <button class="btn btn-info mt-3 float-end" @click="createMode">
          Create New
        </button>
      </div>
      <div class="col">
        <playlist-editor
          ref="editor"
          v-if="mode === 'edit'"
          @cancel="cancel"
          @save="update"
          :playlist="selected"
          @my-custom-event.native="customEvent"
        />
        <playlist-editor
          ref="editor"
          v-else-if="mode === 'create'"
          @cancel="cancel"
          @save="create"
        />
        <playlist-details v-else :playlist="selected" @edit="edit()" />
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
// import {PlaylistDetails,PlaylistList} from '@/components/playlists'
import PlaylistList from "../../components/playlists/PlaylistList.vue";
import PlaylistDetails from "@/components/playlists/PlaylistDetails.vue";
import PlaylistEditor from "@/components/playlists/PlaylistEditor.vue";
import { Playlist } from "../../model/Playlist";

const mockPlaylists: Playlist[] = [
  {
    id: "123",
    name: "Best playlist 123",
    public: true,
    description: "My fav playlist 123",
  },
  {
    id: "234",
    name: "Best playlist 234",
    public: false,
    description: "My fav 234",
  },
  {
    id: "435",
    name: "Best playlist 345",
    public: true,
    description: "My fav 345",
  },
];

export default Vue.extend({
  components: { PlaylistList, PlaylistDetails, PlaylistEditor },
  // watch: {
  //   // playlists(){} // deep:true  // vs immutable array/object changes
  //   selectedId: {
  //     handler(value, oldvalue) {
  //       this.selected = this.playlists.find((p) => p.id === value);
  //     },
  //     immediate: true,
  //   },
  // },
  computed: {
    selected() {
      return this.playlists.find((p) => p.id === this.selectedId);
    },
  },
  data: () => ({
    mode: "details" as "details" | "edit" | "create",
    // selected: null as Playlist | undefined | null,
    selectedId: "234",
    playlists: mockPlaylists,
  }),
  methods: {
    select(id: Playlist["id"]) {
      const editorRef = this.$refs["editor"];
      if ((editorRef as any)?.canClose === false) {
        return;
      }
      this.selectedId = id;
    },
    edit() {
      this.mode = "edit";
    },
    createMode() {
      this.mode = "create";
    },
    cancel() {
      this.mode = "details";
    },
    update(draft: Playlist) {
      this.playlists = this.playlists.map((p) =>
        p.id === draft.id ? draft : p
      );
      this.mode = "details";
    },
    create(draft: Playlist) {
      draft.id = (Math.random() * 100_000).toFixed();
      this.selectedId = draft.id;
      this.playlists.push(draft);
      this.mode = "details";
    },
    load() {},
    remove(id: Playlist["id"]) {
      this.playlists = this.playlists.filter((p) => p.id !== id);
    },
    customEvent(e: any) {
      console.log(e);
    },
  },
});
</script>