<template>
  <div>
    <Card>
      <template v-slot:header>{{ playlist.name }}</template>

      <dl v-bind:id="playlist.id" :data-playlist-id="playlist.id">
        <dt>Name:</dt>
        <dd>{{ playlist.name }}</dd>

        <dt>Public:</dt>
        <dd
          :class="{
            'text-danger': !playlist.public,
            'text-success': playlist.public,
          }"
        >
          {{ playlist.public ? "Yes" : "No" }}
        </dd>

        <dt>Description:</dt>
        <dd>{{ playlist.description }}</dd>
      </dl>
      <!-- 
      <StoreProvider :getters="{ tracks: 'my/tracks' }" :actions="['xxx']">
        <template v-slot="{tracks, xxx}">
          <TracksList :tracks="tracks"/>
        </template>
      </StoreProvider>

      <StoreProvider :getters="{ tracks: 'top/tracks' }" :actions="['xxx']">
        <template v-slot="{tracks, xxx}">
          <TracksList :tracks="tracks"/>
        </template>
      </StoreProvider> -->

      <!-- <GoogleMaps :options="{ location, zoom, etc }" @pan="moved">
        <Marker v-for="car in cars" :option="car.getMarker()" />  
      </GoogleMaps> -->


      <template v-slot:footer>
        <button
          class="btn btn-info"
          @click="$router.replace(playlist.id + '/edit')"
        >
          Edit
        </button>
      </template>
    </Card>
  </div>
</template>


<script lang="ts">
import store from "@/store";
import Vue from "vue";
import { mapGetters } from "vuex";
export default Vue.extend({
  async beforeRouteEnter(to, from, next) {
    await store.dispatch("playlists/loadPlaylist", to.params.playlistId);
    next();
  },
  async beforeRouteUpdate(to, from, next) {
    await store.dispatch("playlists/loadPlaylist", to.params.playlistId);
    next();
  },
  computed: mapGetters("playlists", { playlist: "selected" }),
});
</script>