<template>
  <div v-if="playlist">
    <Card>
      <template v-slot:header>{{ playlist.name }}</template>

      <dl v-bind:id="playlist.id" :data-playlist-id="playlist.id">
        <dt>Name:</dt>
        <dd data-testid="playlist_name">{{ playlist.name }}</dd>
        <!-- <dd v-text="playlist.name"></dd> -->
        <!-- <dd v-html="playlist.name"></dd> -->

        <dt>Public:</dt>
        <!-- <dd :style="{ 
        color: playlist.public ? 'green' : 'red',
      }"> -->
        <dd
          :class="{
            'text-danger': !playlist.public,
            'text-success': playlist.public,
          }"
        >
          {{ playlist.public ? "Yes" : "No" }}
        </dd>

        <dt>Description:</dt>
        <dd>{{ playlist.description }}</dd>
      </dl>
      <template v-slot:footer>
        <button class="btn btn-info" @click="$emit('edit')">Edit</button>
      </template>
    </Card>
  </div>
  <div v-else>
    <p class="alert alert-info">Please select playlist</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Playlist } from "../../model/Playlist";

export default Vue.extend({
  props: {
    playlist: {
      // required: true,
      type: Object as () => Playlist,
    },
  },
  methods: {},
});
</script>