<template>
  <div>
    <!-- .list-group>.list-group-item*3{$$. Playlist $$$} -->

    <div class="list-group">
      <div
        class="list-group-item"
        :class="{ active: selectedId === playlist.id }"
        v-for="(playlist, index) of playlists"
        :key="playlist.id"
        @click.exact="selectPlaylist(playlist)"
        @click.ctrl="$emit('remove', playlist.id)"
      >
      <!-- <span>{{ index + 1 }}. {{ playlist.name }}</span> -->
        {{ index + 1 }}. {{ playlist.name }}
        <span class="close float-end" @click.stop="$emit('remove', playlist.id)"
          >&times;</span
        >
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import { Playlist } from "../../model/Playlist";

@Component({})
export default class PlaylistList extends Vue {
  @Prop() playlists!: Playlist[];
  @Prop() selectedId!: string;

  @Emit("selected") selectPlaylist(playlist: Playlist) {
    return playlist.id;
  }
}

// export default  ({
//   // props:['playlists','selectedId'],
//   props: {
//     playlists: {
//       required: true,
//       type: Array as PropType<Playlist[]>,
//     },
//     selectedId: {
//       required: true,
//       type: String as PropType<string>
//     },
//   },
//   methods: {
//     select(playlist: Playlist) {
//       this.$emit("selected", playlist.id);
//     },
//   },
// })
</script>