<template>
  <form @submit.prevent="submit" v-if="draft">
    <Card>
      <div class="form-group mb-3">
        <label for="playlist_name">Name:</label>
        <input
          type="text"
          class="form-control"
          name="playlist_name"
          id="playlist_name"
          ref="nameInput"
          v-model="draft.name"
          placeholder="Name"
        />
        <small id="counter" class="form-text text-muted"
          >{{ draft.name.length }} / 170</small
        >
      </div>

      <div class="form-check mb-3">
        <label class="form-check-label">
          <input
            type="checkbox"
            class="form-check-input"
            name="playlist_public"
            id="playlist_public"
            v-model="draft.public"
          />
          Public
        </label>
      </div>

      <div class="form-group mb-3">
        <label for="playlists_description">Description</label>
        <textarea
          class="form-control"
          name="playlists_description"
          id="playlists_description"
          rows="3"
          v-model="draft.description"
        ></textarea>
      </div>

      <div class="form-group mb-3">
        <input type="radio" v-model="picked" value="a" />
        <input type="radio" v-model="picked" value="b" />
        {{ picked }}
      </div>
      <div class="form-group mb-3">
        <input type="checkbox" v-model="namesList" value="Jack" />
        <input type="checkbox" v-model="namesList" value="Jim" />
        <input type="checkbox" v-model="namesList" value="Johnny" />
        {{ namesList }}
      </div>
      <div class="form-group mb-3">
        <select v-model="selected">
          <option value="abc">ABC</option>
          <option value="cba">CBA</option>
        </select>
        {{ selected }}
      </div>

      <template v-slot:footer>
        <button class="btn btn-danger" @click="$emit('cancel')">Cancel</button>
        <button class="btn btn-success" type="submit">Save</button>
      </template>
    </Card>
  </form>
</template>
    </form>
  </Card>
  <div v-else>
    <p class="alert alert-info">Please select playlist</p>
  </div>
</template>


<script lang="ts">
import { Playlist } from "@/model/Playlist";
import Vue, { PropType } from "vue";
export default Vue.extend({
  props: {
    playlist: {
      type: Object as PropType<Playlist>,
      default() {
        return {
          id: "",
          name: "",
          public: false,
          description: "",
        };
      },
    },
  },
  data() {
    return {
      selected: "cba",
      picked: "a",
      namesList: [],
      canClose: true,
      // draft: this.playlist // null as Playlist | null,
      // draft: this.playlist && { ...this.playlist },
      draft: JSON.parse(JSON.stringify(this.playlist)),
    };
  },
  watch: {
    playlist(value) {
      this.draft = JSON.parse(JSON.stringify(this.playlist));
    },
  },
  mounted() {
    const newLocal = (this as any).$refs["nameInput"];
    // const inputEl = document.getElementById("playlist_name");
    // if (!inputEl) throw "No input";
    // inputEl?.focus();
    if (newLocal instanceof HTMLElement) {
      newLocal.focus();
    }
  },
  updated() {
    (this as any).canClose =
      JSON.stringify((this as any).draft) ===
      JSON.stringify((this as any).playlist);
  },
  methods: {
    submit() {
      const event = new Event("my-custom-event", {
        bubbles: true,
      });
      (event as any).data = "placki";
      this.$el.dispatchEvent(event);

      this.$emit("save", (this as any).draft);
    },
  },
});
</script>