<template>
  <div>
    <h1>Counter</h1>
    <h1>{{ counter }}</h1>
    <button @click="inc">+</button>
    <input type="text" v-model="val" />
    <button @click="dec">-</button>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
export default Vue.extend({
  data() {
    return { val: 1 };
  },
  computed: {
    ...mapGetters(["counter"]),
    // counter() {
    //   return this.$store.state.counter;
    // },
  },
  created(){
    this.$store.state
    debugger
  },
  methods: {
    inc() {
      this.$store.commit("inc", this.val);
    },
    dec() {
      this.$store.commit("dec", this.val);
    },
  },
});
</script>