<template>
  <div class="home">
    <h1 @click="changeMessage">{{ message }} ({{ messageLength }}</h1>
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld :msg="message" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

@Component({
  components: {
    HelloWorld,
  },
  // data: () => ({}),
  // methods: {},
  // computed:{}
})
export default class Home extends Vue {
// data
  message = "ala ma kota";

// lifecycle
  beforeCreate() {
    
  }

// methods
  changeMessage() {
    this.message = "no i nie ma kota";
  }

// computed
  get messageLength(){
    return this.message.length
  }
}
</script>
