<template>
  <div class="card">
    <div class="card-header" v-if="$slots.header">
      <!-- <slot name="header">No header</slot> -->
      <slot name="header"></slot>
    </div>
    <div class="card-body">
      <slot></slot>
    </div>
    <div class="card-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({

});
</script>