<template>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        @click="open = !open"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" :class="{ show: open }">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link" to="/search">Search</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/playlists"
              >Playlists</router-link
            >
          </li>
        </ul>
        <div class="ms-auto navbar-text">
          <UserProfile>
            <template v-slot="{ value: user, login, logout, welcome }">
              <div v-if="user" @click="logout">
                {{ welcome }} {{ user.display_name }}
              </div>
              <div v-else @click="login">{{ welcome }} Guest</div>
            </template>
          </UserProfile>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return { open: false };
  },
  created() {},
});
</script>