
<template>
  <div>
    <!-- <slot v-bind="userData" :user="user" ></slot> -->
    <slot v-bind="userData" :welcome="'Hello'"  ></slot>
    <!-- <slot
      :user="userData.value"
      :login="userData.login"
      :logout="userData.logout"
    ></slot> -->
  </div>
</template>



<script lang="ts">
import Vue from "vue";

export const USER_DATA_TOKEN = Symbol("User Data Token");

export default Vue.extend({
  inject: {
    // userData: "userData",
    userData: USER_DATA_TOKEN,
  },
  computed: {
    user(this: any) {
      return this.userData.value;
      // const {value:user, login, logout} = this.userData
    },
  },
  methods: {
    logout(this: any) {
      this.userData.logout();
    },
  },
  
  // Renderless component - logic and data here, template in props
  // render(h) {
  //   return h("div", [
  //     //
  //     this.$scopedSlots["default"] &&
  //       this.$scopedSlots["default"]((this as any).userData),
  //   ]);
  // },
});
</script>