<template>
  <div class="mb-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        v-model="localQuery"
        v-bind="inputAttrs"
        v-on="$listeners"
        @keydown.enter="submit"
        @input="$emit('inputChange', $event.target.value)"
      />
      <!-- v-bind="$attrs" -->
      <!-- :placeholder="$attrs.placeholders || 'Search'" -->
      <button @click="submit()" class="btn btn-outline-secondary" type="button">
        Search
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Emit,
  Model,
  ModelSync,
  Prop,
  Vue,
  Watch,
} from "vue-property-decorator";

@Component({
  inheritAttrs: false,
  // model: {
  //   event: "inputChange",
  //   prop: "query",
  // },
})
export default class SearchForm extends Vue {
  localQuery = "";

  get inputAttrs() {
    return {
      placeholder: "Search",
      ...this.$attrs,
    };
  }

  // @ModelSync('query','inputChange')

  @Model("inputChange", {})
  query!: string;

  @Watch("query", { immediate: true })
  updateQuery(query: string, old: string) {
    this.localQuery = query;
  }

  @Emit("search") submit() {
    //this.$emit('search', this.query)
    return this.localQuery;
  }
}
</script>