<template>
  <div>
    <div class="row row-cols-1 row-cols-sm-4 g-0">
      <div class="col" v-for="result of results" :key="result.id">
        <AlbumCard :album="result" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import AlbumCard from "../music/AlbumCard.vue";
import { Component, Prop, Vue } from "vue-property-decorator";
import { AlbumItemView } from "@/model/Album";

@Component({
  components: { AlbumCard },
  // props:{'results': ...}
})
export default class SearchResults extends Vue {
  @Prop() results!: AlbumItemView[];
}

// export default Vue.extend({
//   components: { AlbumCard },
// });
</script>