

<template>
  <div>
    <NavBar />

    <div class="container">
      <div class="row">
        <div class="col">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css"></style>

<script lang="ts">
import Vue from "vue";
import "bootstrap/dist/css/bootstrap.css";
import NavBar from "./components/NavBar.vue";
import { getCurrentUser } from "./services/APIService";
import { UserProfile } from "./model/User";
import { login, logout } from "./services/AuthService";
import { USER_DATA_TOKEN } from "./components/UserProfile.vue";

export default Vue.extend({
  data(this: any) {
    return {
      title: "Hello Vue",
      user: {
        value: null as UserProfile | null,
        logout: this.logout,
        login: login,
      },
    };
  },
  methods: {
    logout() {
      logout();
      this.user.value = null;
    },
  },
  provide(this: any) {
    // return { userData: this.user };
    return { [USER_DATA_TOKEN]: this.user };
  },
  components: { NavBar },
  created() {
    getCurrentUser().then((resp) => {
      this.user.value = resp;
    });
  },
});
</script>