<template>
  <div>
    <div class="row">
      <div class="col">
        <h3 class="display-4">Search</h3>
        <SearchForm
          v-model="query"
          @search="startSearch"
          class="placki"
          placeholder="Search Albums"
          @keydown.native.escape="query = ''"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="alert alert-danger my-2" v-if="message">{{ message }}</p>
        <SearchResults :results="results" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import SearchForm from "@/components/search/SearchForm.vue";
import SearchResults from "@/components/search/SearchResults.vue";
import { AlbumItemView } from "@/model/Album";
import { albumsMocks } from "@/model/albumsMocks";
import * as API from "@/services/APIService";

import { Component, Vue, Watch } from "vue-property-decorator";

@Component({
  components: { SearchForm, SearchResults },
  beforeRouteEnter(to, from, next) {
    // await API.search(String(to.query["query"]));
    next((instance: SearchView) => {
      // instance.results = res;
      instance.search(String(to.query["query"]));
    });
  },
  async beforeRouteUpdate(this: SearchView, to, from, next) {
    const res = await this.search(String(to.query["query"]));
    next();
    // this.results = res
  },
  beforeRouteLeave(to, from, next) {
    // this.canExit
    next();
  },
})
export default class SearchView extends Vue {
  results: AlbumItemView[] = [];
  query = "batman";
  message = "";

  startSearch(query: string) {
    this.$router.push("/?query=" + query);
  }

  // @Watch("$route.query", { immediate: true })
  async search(query: string) {
    try {
      this.query = query; // (this.$route.query as any).query;

      this.message = "";
      this.results = [];
      this.results = await API.searchAlbums(this.query);
    } catch (error) {
      this.message = (error as any).message;
    }
  }

  created() {
    this.$route;
    this.$router;
  }
}

// export default Vue.extend({
//   components: { SearchForm, SearchResults },
//   data() {
//     return {
//       results: albumsMocks,
//     };
//   },
// });
</script>